<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Template Samples</title>
</head>
<body>

<h3><a href="{{ url_for('sample1') }}"> Sample1 </a> - A simple 'hello world' page</h3>
<h3><a href="{{ url_for('sample2') }}"> Sample2 </a> - Sample usage of 'extends'</h3>
<h3><a href="{{ url_for('sample3') }}"> Sample3 </a> - Sample usage of 'include'</h3>
<h3><a href="{{ url_for('sample4') }}"> Sample4 </a> - Sample usage of 'macros'</h3>

</body>

<footer>
    &copy; Copyleft 2018 by <a href="http://zetaops.io/">ZetaOps</a>.
</footer>

</html>